<!-- <app-popup></app-popup> -->
<app-navbar></app-navbar>
@if (authService.isLoggedIn()) {
<div class="main">
  <router-outlet></router-outlet>
  <div [style.opacity]="scrollPosition >= 150 ? '1' : '0'"
       [style.pointer-events]="scrollPosition >= 150 ? 'auto' : 'none'"
       style="transition: opacity 0.3s"
       (click)="scrollToTop()">
    <img
      src="../assets/images/up2.png"
      class="floating-button-what"
      width="55"
      height="55"
      alt="scroll to top"
    />
  </div>
</div>
} @else {
<div>
  <app-login></app-login>
</div>
}
  
<app-footer></app-footer>
